.cart h1{
    font-weight: 100;
    font-size: 30px;
}
.cart .all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}
.cart .all_cart{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}
.cart .all_cart table{
    border-collapse: collapse;
}
.cart .all_cart table tbody tr{
    border-bottom: 1px solid #999999;
}
.cart .all_cart table tbody tr td p{
    font-size: 17px;
}
.cart .all_cart table tbody tr td:nth-child(1){
    width: 20%;
}
.cart .all_cart table tbody tr td:nth-child(2){
    text-align: center;
}
.cart .all_cart table tbody tr img{
    width: 100%;
}
.order{
    background: #f5f5f5;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 12vh;
}
.order div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 37.5px;
    padding-top: 2vh;
}
.order div:nth-child(1) p{
    font-size: 17px;
    color: #505050;
}
.order a{
    padding-bottom: 2vh;
    text-decoration: none;
    color: #999999;
    background-color: #333333;
    padding: 10px 30%;
    margin-bottom: 2vh;
    transition: .5s;
}
.order a:hover{
    opacity: 0.7;
}
.adaptive{
    display: none;
}
.empty{
    font-size: 32px;
    margin-top: 10vh;
    margin-bottom: 29vh;
}
@media screen and (max-width: 1630px){
    .order{
        width: 300px;
    }
    .order a{
        padding: 5px 10%;
    }
}
@media screen and (max-width: 1054px){
    .cart .all{
        flex-direction: column;
    }
    .order{
        width: 100%;
        margin-bottom: 5vh;
        margin-top: 0;
    }
    .order a{
        padding: 10px 30%;
    }
}
@media screen and (max-width: 834px){
    table{
        display: none;
    }
    .adaptive{
        display: flex;
        flex-direction: column;
    }
    .adaptive p{
        font-size: 17px;
    }
    .adaptive div div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .adaptive div div img{
        width: 40%;
    }
    .adaptive div div:nth-child(2){
        border-bottom: 1px solid #999999;
        padding-bottom: 5vh;
    }
}