/* Первый секшон */
.section_first{
    background-color: #F9F3EE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.section_first img{
    width: 58%;
}
.section_first div p{
    font-size: 16px;
    color: #c5a374;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section_first div h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 600;
    width: 70%;
    margin-bottom: 35px;
}
.section_first div button{
    background-color: #333333;
    color: #cfcfcf;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 100;
    padding: 15px 40px;
    border: none;
    transition: 0.5s;
}
.section_first div button:hover{
    cursor: pointer;
    background-color: #525252;
}

@media screen and (max-width: 1054px) {
    .section_first div h1{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .section_first div p{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .section_first div button{
        padding: 10px 30px;
        font-size: 12px;
    }
    .section_first img{
        width: 70%;
    }
    .section_first{
        padding: 0 100px;
    }
}
@media screen and (max-width: 834px) {
    .section_first div h1{
        font-size: 17px;
    }
    .section_first div p{
        font-size: 8px;
    }
    .section_first div button{
        padding: 8px 20px;
        font-size: 10px;
    }
    .section_first img{
        width: 50%;
    }
    .section_first{
        padding: 0 50px;
    }
}
/* Первый секшон */
.text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: 'Montserrat', sans-serif;  
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 600;  
}
.text p:last-child{
    text-align: right;
    line-height: 15px;
}
@media screen and (max-width: 834px) {
    .text{
        font-size: 7px;
    }
}
.line:before {
    display: inline-block;
    content: '';
    width: 50px;
    height: 1px;
    background-color: #cccccc;
    margin: 0 15px 5px 15px;
}
/* Второй секшон */
.section_second{
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.section_second h2{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: lighter;
    text-align: center;
    margin-bottom: 5vh;
}
.section_second div:nth-child(2){
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.section_second div:nth-child(2) div{
    display: flex;
    justify-content: space-around;
}
.section_second div:nth-child(2) div p{
    padding-top: 5vh;
    font-size: 18px;
}
.section_second div:nth-child(2) div img{
    transition: 1s;
}
.section_second div:nth-child(2) div:hover img{
    transform: scale(1.2);
    opacity: 0.5;
}
.section_second div:nth-child(2) div:first-child{
    background: #f9f3eec2;
}
.section_second div:nth-child(2) div:last-child{
    background: #eefaf0c2;
    flex-grow: 1;
}

.section_second div:nth-child(3){
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.section_second div:nth-child(3) div{
    display: flex;
    justify-content: space-around;
}
.section_second div:nth-child(3) div p{
    padding-top: 5vh;
    font-size: 18px;
}
.section_second div:nth-child(3) div img{
    transition: 1s;
}
.section_second div:nth-child(3) div:hover img{
    transform: scale(1.2);
    opacity: 0.5;
}
.section_second div:nth-child(3) div:first-child{
    background: #faefeec2;
}
.section_second div:nth-child(3) div:last-child{
    background: #eef4f9c2;
    flex-grow: 1;
}
@media screen and (max-width: 834px) {
    .section_second div:nth-child(2){
        flex-direction: column;
        align-items: center;
    }
    .section_second div:nth-child(3){
        flex-direction: column;
        align-items: center;
    }
    .section_second h2{
        font-size: 30px;
    }
}
/* Второй секшон */
/* Третий секшон */
.section_third{
    padding-top: 7vh;
    padding-bottom: 7vh;
}
.section_third div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section_third div:nth-child(1) div{
    flex-direction: column;
    align-items: start;
}
.section_third div:nth-child(1) div p{
    font-family: "Montserrat" sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}
.section_third div:nth-child(1) div p:nth-child(3){
    width: 60%;
    margin-bottom: 40px;
    color: #999999;
}
.section_third div:nth-child(1) div h4{
    font-size: 48px;
    font-family: "Montserrat" sans-serif;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
}
.section_third div:nth-child(1) div button{
    padding: 10px 40px;
    font-family: "Montserrat" sans-serif;
    font-weight: 100;
    border: none;
    background-color: #000000;
    color: rgba(255, 255, 255, 0.842);
    transition: .5s;
}
.section_third div:nth-child(1) div button:hover{
    opacity: 0.75;
    cursor: pointer;
}
@media screen and (max-width: 834px) {
    .section_third div:nth-child(1){
        flex-direction: column;
    }
    .section_third img{
        padding-top: 10vh;
        width: 100%;
    }
    .section_third div:nth-child(1) div p:nth-child(3){
        width: 100%;
    }
    .section_third div:nth-child(1) div h4{
        font-size: 35px;
    }
}
/* Третий секшон */